    body {margin: 0;font: 14px/1.4 "微软雅黑", Helvetica, Tahoma, Arial;color:#666;}
    .page {position: absolute;top: 0;bottom: 0;left: 0;right: 0;overflow-y: auto;background-color: #fffdfd; }
    @-webkit-keyframes slideInLeft {from { -webkit-transform: translateX(-100%); }to { -webkit-transform: translateX(0); }}
    @keyframes slideInLeft {from { transform: translateX(-100%); }to { transform: translateX(0); }}
    @-webkit-keyframes slideInRight {from { -webkit-transform: translateX(100%); }to { -webkit-transform: translateX(0); }}
    @keyframes slideInRight {from { transform: translateX(100%); }to { transform: translateX(0); }}
    h1 {text-align:center;line-height: 3;color:#000;}
    a {font-size: 12px;color: #666;}
    p.indent {text-indent: 2em;}
    .weui_article {padding-top: 0;background-color: #fff;}
    .weui_article .highlight {margin: 16px;border-radius: 10px;background: #db003a;color:#fff;}
    .weui_article b {color: #000;}
    .weui_cells_title {color:#333;font-size:16px;background-color: #fff;}
    .weui_cells_title.links {border-top: 2px solid #db003a;padding-top: 10px;color:#b21743;}
    .weui_article+.weui_cells_title {margin-top: 0;}
    .links+.weui_cells:before {display: none;}
    .weui_cells {margin-top: 8px; font-size:14px;}
    .weui_cells_checkbox {margin: -1px 0 48px;}
    .weui_cells_checkbox .weui_cell_primary {color:#000;}
    .weui_cells_access:after, .weui_cells_checkbox:before{left:15px;}
    .weui_cells_checkbox .weui_check + .weui_icon_checked::before {font-size:20px;}
    .weui_cells_checkbox .weui_check:checked + .weui_icon_checked::before {color: #b21743;}
    .agreement_detail {
        margin:0 auto;
        display:block;
        width: 95%;
    }
    .bottom-docked {position: fixed;display: block;bottom: 0;left: 0;width: 100%;height: 48px;line-height: 48px;text-align: center;color: #030303;font-size: 16px;background: #db003a;color:#fff;}
    .bottom-docked.disabled {background: #ccc;}
    #toast {display: none;position: fixed;z-index: 100;left: 50%;bottom: 160px;border-radius: 8px;padding: 18px 10px;background: rgba(0, 0, 0, .7);font-size: 16px;text-align: center;transform: translateX(-50%);-webkit-transform: translateX(-50%);color: #fff;}
    #toast.active {animation: fadeInOut 3s;-webkit-animation: fadeInOut 3s;}
    #toast.visible { display: block; }
    @keyframes fadeInOut {0% {opacity:0;}30% {opacity:1;}70% {opacity:1;}100% {opacity:0;}}
    @-webkit-keyframes fadeInOut {0% {opacity:0;}30% {opacity:1;}70% {opacity:1;}100% {opacity:0;}}